
/* 

DayPilot Calendar Theme 
http://themes.daypilot.org/calendar/theme/pectq6

*/

.calendar_g_main 
{
	border: 1px solid #dddddd;
}

.calendar_g_main, .calendar_g_main td 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.calendar_g_event { 
	
}

.calendar_g_event_inner { 
	position: absolute;
	overflow: hidden;
	
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	
	margin: 0px;

	color: #1d1d1d;
	background-color: #9a9cff;
	
	
	
	padding: 3px;
	
	
	
	border: 1px solid #373ad7;
	
	
	
	
	
}

.calendar_g_alldayevent { 
	
}

.calendar_g_alldayevent_inner { 
	position: absolute;
	overflow: hidden;
	
	left: 1px;
	right: 0px;
	top: 1px;
	bottom: 0px;
	
	margin: 2px;

	color: #1d1d1d;
	background-color: #9a9cff;
	
	
	
	padding: 2px;
	
	
	border: 1px solid #373ad7;
	
	text-align: left;
	
	
	
}

.calendar_g_alldayheader_inner
{
	text-align: center; 
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-right: 1px solid #dddddd;
	border-bottom: 1px solid  #dddddd;

	color: #555555;
	background: #ffffff;
	

}

.calendar_g_colheader_inner
{
	text-align: center; 
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-right: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	
	color: #555555;
	background: #ffffff;
	
}

.calendar_g_rowheader_inner
{
	font-size: 12px;
	
	text-align: right; 
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-right: 1px solid #dddddd;
	border-bottom: 1px solid  #dddddd;
	
	color: #555555;
	background: #ffffff;
	
}

.calendar_g_rowheader_minutes 
{
	font-size:12px; 
	xvertical-align: super; 
	padding-left: 2px;
	padding-right: 2px;
}

.calendar_g_corner_inner
{
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-right: 1px solid #dddddd;
	border-bottom: 1px solid  #dddddd;

	color: #555555;
	background: #ffffff;
	
}

.calendar_g_cornerright_inner
{
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-right: 1px solid #dddddd;
	border-bottom: 1px solid  #dddddd;

	color: #555555;
	background: #ffffff;
	

}

.calendar_g_rowheader_inner {
	padding: 2px;
}

.calendar_g_cell_inner
{
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-right: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	background: #ffffff;
}

.calendar_g_cell_business .calendar_g_cell_inner {
	background: #ffffff;
}

.calendar_g_message 
{
	padding: 10px;
	opacity: 0.9;
	filter: alpha(opacity=90);
	
	color: #1d1d1d;
	background: #f9edbe;
	
}

.calendar_g_shadow_inner 
{
	background-color: #666666;
	opacity: 0.5;
	filter: alpha(opacity=50);
	height: 100%;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.calendar_g_event_delete {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAI5JREFUKFNtkLERgCAMRbmzdK8s4gAUlhYOYEHJEJYOYOEwDmGBPxC4kOPfvePy84MGR0RJ2N1A8H3N6DATwSQ57m2ql8NBG+AEM7D+UW+wjdfUPgerYNgB5gOLRHqhcasg84C2QxPMtrUhSqQIhg7ypy9VM2EUZPI/4rQ7rGxqo9sadTegw+UdjeDLAKUfhbaQUVPIfJYAAAAASUVORK5CYII=) center center no-repeat;
    opacity: 0.6;
    -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=60)';
    cursor: pointer;
}

.calendar_g_event_delete:hover {
    opacity: 1;
    -ms-filter: none;
}

.calendar_g_scroll_up {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAB3RJTUUH2wESDiYcrhwCiQAAAAlwSFlzAAAuIwAALiMBeKU/dgAAAARnQU1BAACxjwv8YQUAAACcSURBVHjaY2AgF9wWsTW6yGMlhi7OhC7AyMDQzMnBXIpFHAFuCtuaMTP+P8nA8P/b1x//FfW/HHuF1UQmxv+NUP1c3OxMVVhNvCVi683E8H8LXOY/w9+fTH81tF8fv4NiIpBRj+YoZtZ/LDUoJmKYhsVUpv0MDiyMDP96sIYV0FS2/8z9ICaLlOhvS4b/jC//MzC8xBG0vJeF7GQBlK0xdiUzCtsAAAAASUVORK5CYII=);
}

.calendar_g_scroll_down {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAALiMAAC4jAXilP3YAAACqSURBVChTY7wpam3L9J+xmQEP+PGPKZZxP4MDi4zI78uMDIwa2NT+Z2DYovrmiC+TI8OBP/8ZmEqwGvif4e8vxr+FIDkmEKH25vBWBgbG0+iK/zEwLtF+ffwOXCGI8Y+BoRFFIdC030x/WmBiYBNhpgLdswNJ8RSYaSgmgk39z1gPUfj/29ef/9rwhQTDHRHbrbdEbLvRFcGthkkAra/9/uMvhkK8piNLAgCRpTnNn4AEmAAAAABJRU5ErkJggg==);
}

.calendar_g_now { background-color: red; }
.calendar_g_now:before { content: ''; top: -5px; border-width: 5px; border-color: transparent transparent transparent red; border-style: solid; width: 0px; height:0px; position: absolute; -moz-transform: scale(.9999); }
