
/* 

DayPilot Gantt Theme 
http://themes.daypilot.org/gantt/theme/

Theme Designer Version: 2015.12.01.0938

*/

.gantt_default_2014_main 
{
	border: 1px solid #aaaaaa;
}

.gantt_default_2014_main, .gantt_default_2014_main td 
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.gantt_default_2014_event { 
	
}

.gantt_default_2014_event { 
	color: #666666;
}

.gantt_default_2014_event_inner { 
	position: absolute;
	
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	
	margin: 0px;
	overflow: hidden;

	background-color: #ffffff;
	
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#fafafa));  
	background: -webkit-linear-gradient(top, #ffffff 0%, #fafafa);
	background: -moz-linear-gradient(top, #ffffff 0%, #fafafa);
	background: -ms-linear-gradient(top, #ffffff 0%, #fafafa);
	background: -o-linear-gradient(top, #ffffff 0%, #fafafa);
	background: linear-gradient(top, #ffffff 0%, #fafafa);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#ffffff", endColorStr="#fafafa");
	
	
	
	padding: 2px;
	
	
	padding-top: 5px;
	
	
	border: 1px solid #cccccc;
	
	
	
	
	
}

.gantt_default_2014_timeheadergroup,
.gantt_default_2014_timeheadercol
{
	color: #666666;
	background: #eeeeee;
	
}

.gantt_default_2014_rowheader,
.gantt_default_2014_corner
{
	color: #666666;
	background: #eeeeee;
	
}

.gantt_default_2014_rowheader_inner {
	padding: 2px;
}

.gantt_default_2014_timeheadergroup,
.gantt_default_2014_timeheadercol
{
	text-align: center;
}

.gantt_default_2014_timeheadergroup_inner,
.gantt_default_2014_timeheadercol_inner
{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	border-right: 1px solid #aaaaaa;
	padding: 2px;
}

.gantt_default_2014_timeheadergroup_inner {
	border-bottom: 1px solid #aaaaaa;
}

.gantt_default_2014_divider,
.gantt_default_2014_splitter,
.gantt_default_2014_divider_horizontal,
.gantt_default_2014_resourcedivider 
{
	background-color: #aaaaaa;
}

.gantt_default_2014_matrix_vertical_line,
.gantt_default_2014_matrix_horizontal_line 
{
	background-color: #eeeeee;
}

.gantt_default_2014_cell 
{
	background: #f9f9f9;
}

.gantt_default_2014_cell.gantt_default_2014_cell_business 
{
	background: #ffffff;
}

.gantt_default_2014_message 
{
	padding: 10px;
	opacity: 0.9;
	filter: alpha(opacity=90);
	
	color: #ffffff;
	background: #ffa216;
	
}

.gantt_default_2014_shadow_inner 
{
	background-color: #666666;
	opacity: 0.5;
	filter: alpha(opacity=50);
	height: 100%;
	
}


.gantt_default_2014_event_bar
{
	top: 0px;
	left: 0px;
	right: 0px;
	height: 3px;
	background-color: #9dc8e8;
}

.gantt_default_2014_event_bar_inner  
{
	position: absolute;
	height: 3px;
	background-color: #1066a8;
}


.gantt_default_2014_matrix_vertical_break 
{
	background-color: #000;
}

.gantt_default_2014_cellparent {
}

.gantt_default_2014_tree_image_no_children {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAIAAABv85FHAAAAKXRFWHRDcmVhdGlvbiBUaW1lAHDhIDMwIEkgMjAwOSAwODo0NjozMSArMDEwMClDkt4AAAAHdElNRQfZAR4HLzEyzsCJAAAACXBIWXMAAA7CAAAOwgEVKEqAAAAABGdBTUEAALGPC/xhBQAAADBJREFUeNpjrK6s5uTl/P75OybJ0NLW8h8bAIozgeSxAaA4E1A7VjmgOL31MeLxHwCeXUT0WkFMKAAAAABJRU5ErkJggg==);
}
.gantt_default_2014_tree_image_expand {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAIAAABv85FHAAAAKXRFWHRDcmVhdGlvbiBUaW1lAHDhIDMwIEkgMjAwOSAwODo0NjozMSArMDEwMClDkt4AAAAHdElNRQfZAR4HLyUoFBT0AAAACXBIWXMAAA7CAAAOwgEVKEqAAAAABGdBTUEAALGPC/xhBQAAAFJJREFUeNpjrK6s5uTl/P75OybJ0NLW8h8bAIozgeRhgJGREc4GijMBtTNgA0BxFog+uA4IA2gmUJwFog/IgUhAGBB9KPYhA3T74Jog+hjx+A8A1KRQ+AN5vcwAAAAASUVORK5CYII=);
}
.gantt_default_2014_tree_image_collapse {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAIAAABv85FHAAAAKXRFWHRDcmVhdGlvbiBUaW1lAHDhIDMwIEkgMjAwOSAwODo0NjozMSArMDEwMClDkt4AAAAHdElNRQfZAR4HLxB+p9DXAAAACXBIWXMAAA7CAAAOwgEVKEqAAAAABGdBTUEAALGPC/xhBQAAAENJREFUeNpjrK6s5uTl/P75OybJ0NLW8h8bAIozgeSxAaA4E1A7VjmgOAtEHyMjI7IE0EygOAtEH5CDqY9c+xjx+A8ANndK9WaZlP4AAAAASUVORK5CYII=);
}

.gantt_default_2014_columnheader 
{
}

.gantt_default_2014_columnheader_inner {
    font-weight: bold;
}

.gantt_default_2014_columnheader_cell {
    background: -webkit-gradient(linear, left top, right top, from(#eeeeee), to(#dddddd));
    background: -moz-linear-gradient(left, #eeeeee 0%, #dddddd);
    background: -ms-linear-gradient(left, #eeeeee 0%, #dddddd);
    background: -webkit-linear-gradient(left, #eeeeee 0%, #dddddd);
    background: linear-gradient(left, #eeeeee 0%, #dddddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr="#eeeeee", endColorStr="#dddddd", GradientType=1);
}

.gantt_default_2014_columnheader_splitter {
    background-color: #666;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.gantt_default_2014_columnheader_cell_inner {
    padding: 2px;   
}

.gantt_default_2014_timeheader_float_inner {
	padding: 2px;
}

.gantt_default_2014_event_float_inner {
	padding: 6px 2px 2px 7px;
	
}

.gantt_default_2014_event_float_inner:after {
    content:"";
    border-color: transparent #666666 transparent transparent;
    border-style:solid;
    border-width:5px;
    width:0;
    height:0;
    position:absolute;
	top:9px;
	
    left:-4px;
}

.gantt_default_2014_event_move_left {
	box-sizing: border-box; 
	padding:2px;
	border:1px solid #ccc;
	background:#fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
	background: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee);
	background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee);
	background: -ms-linear-gradient(top, #ffffff 0%, #eeeeee);
	background: -o-linear-gradient(top, #ffffff 0%, #eeeeee);
	background: linear-gradient(top, #ffffff 0%, #eeeeee);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#ffffff", endColorStr="#eeeeee");
}

.gantt_default_2014_event_move_right {
	box-sizing: border-box; 
	padding:2px;
	border:1px solid #ccc;
	background:#fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
	background: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee);
	background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee);
	background: -ms-linear-gradient(top, #ffffff 0%, #eeeeee);
	background: -o-linear-gradient(top, #ffffff 0%, #eeeeee);
	background: linear-gradient(top, #ffffff 0%, #eeeeee);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#ffffff", endColorStr="#eeeeee");
}

.gantt_default_2014_event_delete {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAI5JREFUKFNtkLERgCAMRbmzdK8s4gAUlhYOYEHJEJYOYOEwDmGBPxC4kOPfvePy84MGR0RJ2N1A8H3N6DATwSQ57m2ql8NBG+AEM7D+UW+wjdfUPgerYNgB5gOLRHqhcasg84C2QxPMtrUhSqQIhg7ypy9VM2EUZPI/4rQ7rGxqo9sadTegw+UdjeDLAKUfhbaQUVPIfJYAAAAASUVORK5CYII=) center center no-repeat; opacity: 0.6; -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=60)';
	cursor: pointer;
}

.gantt_default_2014_event_delete:hover {
	opacity: 1;
	-ms-filter: none;
}

.gantt_default_2014_rowmove_handle { background-repeat: no-repeat; background-position: center center; background-color: #ccc; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAKCAYAAACT+/8OAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAClJREFUGFdj+P//P4O9vX2Bg4NDP4gNFgBytgPxebgAMsYuQGMz/jMAAFsTZDPYJlDHAAAAAElFTkSuQmCC); cursor: move; }
.gantt_default_2014_rowmove_source { background-color: black; opacity: 0.2; }
.gantt_default_2014_rowmove_position_before, .gantt_default_2014_rowmove_position_after { background-color: #999; height: 2px; }
.gantt_default_2014_rowmove_position_child { margin-left: 10px; background-color: #999; height: 2px; }
.gantt_default_2014_rowmove_position_child:before { content: '+'; color: #999; position: absolute; top: -8px; left: -10px; }
.gantt_default_2014_rowmove_position_forbidden { background-color: red; height: 2px; margin-left: 10px; }
.gantt_default_2014_rowmove_position_forbidden:before { content: 'x'; color: red; position: absolute; top: -8px; left: -10px; }

.gantt_default_2014_task_group .gantt_default_2014_event_inner { position:absolute;top:5px;left:0px;right:0px;bottom:6px;overflow:hidden; background: blue; filter: none; border: 0px none; }
.gantt_default_2014_task_group.gantt_default_2014_event:before { content:''; border-color: transparent transparent transparent blue; border-style: solid; border-width: 6px; position: absolute; bottom: 0px; }
.gantt_default_2014_task_group.gantt_default_2014_event:after { content:''; border-color: transparent blue transparent transparent; border-style: solid; border-width: 6px; position: absolute; bottom: 0px; right: 0px; }

.gantt_default_2014_task_milestone .gantt_default_2014_event_inner { position:absolute;top:16%;left:16%;right:16%;bottom:16%; background: green; border: 0px none; -webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);-o-transform: rotate(45deg); transform: rotate(45deg); filter: none; }
.gantt_default_2014_browser_ie8 .gantt_default_2014_task_milestone .gantt_default_2014_event_inner { -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476);"; }

.gantt_default_2014_event_left { white-space: nowrap; padding-top: 5px; color: #666; }
.gantt_default_2014_event_right { white-space: nowrap; padding-top: 5px; color: #666; }

.gantt_default_2014_link_horizontal { border-bottom-style: solid; border-bottom-color: red; }
.gantt_default_2014_link_vertical { border-right-style: solid; border-right-color: red; }
.gantt_default_2014_link_arrow_right:before { content: ''; border-width: 6px; border-color: transparent transparent transparent red; border-style: solid; width: 0px; height:0px; position: absolute; }
.gantt_default_2014_link_arrow_left:before { content: ''; border-width: 6px; border-color: transparent red transparent transparent; border-style: solid; width: 0px; height:0px; position: absolute; }
.gantt_default_2014_link_arrow_down:before { content: ''; border-width: 6px; border-color: red transparent transparent transparent; border-style: solid; width: 0px; height:0px; position: absolute; }

.gantt_default_2014_shadow_overlap .gantt_default_2014_shadow_inner { background-color: red; }
.gantt_default_2014_block { background-color: gray; opacity: 0.5; filter: alpha(opacity=50); }

.gantt_default_2014_link_hover { box-shadow: 0px 0px 2px 2px rgba(255, 0, 0, 0.3) }

.gantt_default_2014_header_icon { box-sizing: border-box; border: 1px solid #aaaaaa; background-color: #eeeeee; color: #666666; }
.gantt_default_2014_header_icon:hover { background-color: #e9e9e9; }
.gantt_default_2014_header_icon_hide:before { content: '\00AB'; }
.gantt_default_2014_header_icon_show:before { content: '\00BB'; }

.gantt_default_2014_row_new .gantt_default_2014_rowheader_inner { cursor: text; background-position: 0px 5px; background-repeat: no-repeat; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABUSURBVChTY0ACslAaK2CC0iCQDMSlECYmQFYIAl1AjFUxukIQwKoYm0IQwFCMSyEIaEJpMMClcD4Qp0CYEIBNIUzRPzAPCtAVYlWEDgyAGIdTGBgAbqEJYyjqa3oAAAAASUVORK5CYII=); }
.gantt_default_2014_row_new .gantt_default_2014_rowheader_inner:hover { background: white; }
.gantt_default_2014_rowheader textarea { padding: 3px; }
.gantt_default_2014_rowheader_scroll { cursor: default; }

.gantt_default_2014_shadow_forbidden .gantt_default_2014_shadow_inner { background-color: red; }

.gantt_default_2014_event_moving_source { opacity: 0.5; filter: alpha(opacity=50); }

.gantt_default_2014_event.gantt_default_event_previous .gantt_default_event_inner", "background-color: #cfdde8;background-image: -webkit-gradient(linear, 0 100%, 100% 0,	color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent),	color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);-webkit-background-size: 20px 20px;-moz-background-size: 20px 20px;background-size: 20px 20px;");

.gantt_default_2014_task_group.gantt_default_2014_event_continueleft.gantt_default_2014_event:before { border:0; }
.gantt_default_2014_task_group.gantt_default_2014_event_continueleft.gantt_default_2014_event .gantt_default_2014_event_inner:before { content:"";border-color: transparent #fff transparent transparent;border-style:solid;border-width:5px;width:0;height:0;position:absolute;top:2px;left:-4px; }
.gantt_default_2014_event_continueleft.gantt_default_2014_event .gantt_default_2014_event_inner { padding-left: 8px; }
.gantt_default_2014_event_continueleft.gantt_default_2014_event .gantt_default_2014_event_inner:before { content:"";border-color: transparent #000 transparent transparent;border-style:solid;border-width:5px;width:0;height:0;position:absolute;top:7px;left:-4px; }

.gantt_default_2014_task_group.gantt_default_2014_event_continueright.gantt_default_2014_event:after { border:0; }
.gantt_default_2014_task_group.gantt_default_2014_event_continueright.gantt_default_2014_event .gantt_default_2014_event_inner:after { content:"";border-color: transparent transparent transparent #fff;border-style:solid;border-width:5px;width:0;height:0;position:absolute;top:2px;right:-2px; }
.gantt_default_2014_event_continueright.gantt_default_2014_event .gantt_default_2014_event_inner { padding-right: 8px; }
.gantt_default_2014_event_continueright.gantt_default_2014_event .gantt_default_2014_event_inner:after { content:"";border-color: transparent transparent transparent #000;border-style:solid;border-width:5px;width:0;height:0;position:absolute;top:7px;right:-2px; }

.gantt_default_2014_linkpoint { background-color: white; border: 1px solid gray; border-radius: 5px; }
.gantt_default_2014_linkpoint.gantt_default_2014_linkpoint_hover { background-color: black; }
