.kanban_default_2014_main *, .kanban_default_2014_main *:before, .kanban_default_2014_main *:after { 
  box-sizing: content-box;
}

.kanban_default_2014_main { 
  box-sizing: content-box; border: 1px solid #aaa;font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 12px;
}

.kanban_default_2014_selected .kanban_default_2014_event_inner { 
  background: #ddd;
}

.kanban_default_2014_timeheader { 
  cursor: default;color: #666;
}

.kanban_default_2014_message { 
  opacity: 0.9;filter: alpha(opacity=90);padding: 10px; color: #ffffff;background: #ffa216;
}

.kanban_default_2014_colheadercell { 
  color: #666;background: #eee;
}

.kanban_default_2014_rowheader,.kanban_default_2014_corner { 
  color: #666;background: #eee;
}

.kanban_default_2014_rowheader.kanban_default_2014_rowheader_selected { 
  background-color: #aaa;background-image: -webkit-gradient(linear, 0 100%, 100% 0,color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent),	color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);-webkit-background-size: 20px 20px;-moz-background-size: 20px 20px;background-size: 20px 20px;
}

.kanban_default_2014_rowheader_inner { 
  position: absolute;left: 0px;right: 0px;top: 0px;bottom: 0px;border-right: 1px solid #eee;padding: 2px;
}

.kanban_default_2014_colheadercell { 
  text-align: center;
}

.kanban_default_2014_colheadercell_inner { 
  position: absolute;left: 0px;right: 0px;top: 0px;bottom: 0px;border-right: 1px solid #aaa;
}

.kanban_default_2014_divider, .kanban_default_2014_splitter { 
  background-color: #aaa;
}

.kanban_default_2014_divider_horizontal { 
  background-color: #aaa;
}

.kanban_default_2014_matrix_vertical_line { 
  background-color: #eee;
}

.kanban_default_2014_matrix_vertical_break { 
  background-color: #000;
}

.kanban_default_2014_matrix_horizontal_line { 
  background-color: #eee;
}

.kanban_default_2014_rowheaderdivider { 
  background-color: #aaa;
}

.kanban_default_2014_shadow_inner { 
  background-color: #666666;opacity: 0.5;filter: alpha(opacity=50);height: 100%;
}

.kanban_default_2014_card { 
  font-size:12px;color:#666;
}

.kanban_default_2014_card_inner { 
  position:absolute;top:0px;left:0px;right:0px;bottom:0px;padding:5px 2px 2px 2px;overflow:hidden;border:1px solid #ccc;
}

.kanban_default_2014_card_inner { 
  background:#fff;background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));background: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee);background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee);background: -ms-linear-gradient(top, #ffffff 0%, #eeeeee);background: -o-linear-gradient(top, #ffffff 0%, #eeeeee);background: linear-gradient(top, #ffffff 0%, #eeeeee);filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#ffffff", endColorStr="#eeeeee");
}

.kanban_default_2014_cell { 
  background-color: #fff;
}

.kanban_default_2014_cell.kanban_default_2014_cell_selected { 
  background-color: #ccc;background-image: -webkit-gradient(linear, 0 100%, 100% 0,	color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent),	color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);-webkit-background-size: 20px 20px;-moz-background-size: 20px 20px;background-size: 20px 20px;
}

.kanban_default_2014_tree_image_no_children { 
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAIAAABv85FHAAAAKXRFWHRDcmVhdGlvbiBUaW1lAHDhIDMwIEkgMjAwOSAwODo0NjozMSArMDEwMClDkt4AAAAHdElNRQfZAR4HLzEyzsCJAAAACXBIWXMAAA7CAAAOwgEVKEqAAAAABGdBTUEAALGPC/xhBQAAADBJREFUeNpjrK6s5uTl/P75OybJ0NLW8h8bAIozgeSxAaA4E1A7VjmgOL31MeLxHwCeXUT0WkFMKAAAAABJRU5ErkJggg==);
}

.kanban_default_2014_tree_image_expand { 
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAIAAABv85FHAAAAKXRFWHRDcmVhdGlvbiBUaW1lAHDhIDMwIEkgMjAwOSAwODo0NjozMSArMDEwMClDkt4AAAAHdElNRQfZAR4HLyUoFBT0AAAACXBIWXMAAA7CAAAOwgEVKEqAAAAABGdBTUEAALGPC/xhBQAAAFJJREFUeNpjrK6s5uTl/P75OybJ0NLW8h8bAIozgeRhgJGREc4GijMBtTNgA0BxFog+uA4IA2gmUJwFog/IgUhAGBB9KPYhA3T74Jog+hjx+A8A1KRQ+AN5vcwAAAAASUVORK5CYII=);
}

.kanban_default_2014_tree_image_collapse { 
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAIAAABv85FHAAAAKXRFWHRDcmVhdGlvbiBUaW1lAHDhIDMwIEkgMjAwOSAwODo0NjozMSArMDEwMClDkt4AAAAHdElNRQfZAR4HLxB+p9DXAAAACXBIWXMAAA7CAAAOwgEVKEqAAAAABGdBTUEAALGPC/xhBQAAAENJREFUeNpjrK6s5uTl/P75OybJ0NLW8h8bAIozgeSxAaA4E1A7VjmgOAtEHyMjI7IE0EygOAtEH5CDqY9c+xjx+A8ANndK9WaZlP4AAAAASUVORK5CYII=);
}

.kanban_default_2014_card_delete { 
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAI5JREFUKFNtkLERgCAMRbmzdK8s4gAUlhYOYEHJEJYOYOEwDmGBPxC4kOPfvePy84MGR0RJ2N1A8H3N6DATwSQ57m2ql8NBG+AEM7D+UW+wjdfUPgerYNgB5gOLRHqhcasg84C2QxPMtrUhSqQIhg7ypy9VM2EUZPI/4rQ7rGxqo9sadTegw+UdjeDLAKUfhbaQUVPIfJYAAAAASUVORK5CYII=) center center no-repeat; opacity: 0.6; -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=60)';cursor: pointer;
}

.kanban_default_2014_card_delete:hover { 
  opacity: 1;-ms-filter: none;
}

.kanban_default_2014_rowmove_source { 
  background-color: black; opacity: 0.2;
}

.kanban_default_2014_rowmove_position_before, .kanban_default_2014_rowmove_position_after { 
  background-color: #999; height: 2px;
}

.kanban_default_2014_rowmove_position_forbidden { 
  background-color: red; height: 2px; margin-left: 10px;
}

.kanban_default_2014_rowmove_position_forbidden:before { 
  content: 'x'; color: red; position: absolute; top: -8px; left: -10px;
}

.kanban_default_2014_block { 
  background-color: gray; opacity: 0.5; filter: alpha(opacity=50);
}

.kanban_default_2014_main .kanban_default_2014_header_icon { 
  box-sizing: border-box; border: 1px solid #aaa; background-color: #f5f5f5; color: #000;
}

.kanban_default_2014_header_icon:hover { 
  background-color: #ccc;
}

.kanban_default_2014_header_icon_hide:before { 
  content: '\00AB';
}

.kanban_default_2014_header_icon_show:before { 
  content: '\00BB';
}

.kanban_default_2014_row_new .kanban_default_2014_rowheader_inner { 
  cursor: text; background-position: 0px 5px; background-repeat: no-repeat; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABUSURBVChTY0ACslAaK2CC0iCQDMSlECYmQFYIAl1AjFUxukIQwKoYm0IQwFCMSyEIaEJpMMClcD4Qp0CYEIBNIUzRPzAPCtAVYlWEDgyAGIdTGBgAbqEJYyjqa3oAAAAASUVORK5CYII=);
}

.kanban_default_2014_row_new .kanban_default_2014_rowheader_inner:hover { 
  background: white;
}

.kanban_default_2014_rowheader textarea { 
  padding: 3px;
}

.kanban_default_2014_rowheader_scroll { 
  cursor: default;
}

.kanban_default_2014_card_moving_source { 
  opacity: 0.5; filter: alpha(opacity=50);
}

.kanban_default_2014_card .kanban_default_2014_card_inner { 
  padding: 5px 5px 5px 10px;
}

.kanban_default_2014_cell { 
  background-color: #fff;
}

.kanban_default_2014_rowmove_handle { 
  opacity: 0.5; background-repeat: no-repeat; background-position: center center; background-color: #ccc; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAKCAYAAACT+/8OAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAClJREFUGFdj+P//P4O9vX2Bg4NDP4gNFgBytgPxebgAMsYuQGMz/jMAAFsTZDPYJlDHAAAAAElFTkSuQmCC); cursor: move;
}

.kanban_default_2014_card_header { 
  font-size: 120%; font-weight: bold;
}

.kanban_default_2014_card_bar { 
  background-color: #cc0000; cursor:move;
}

.kanban_default_2014_cell.kanban_default_2014_collapsed { 
  background-color: #eee;
}

.kanban_default_2014_swimlane_collapse { 
  cursor:pointer; border: 1px solid #ccc; text-align:center;
}

.kanban_default_2014_swimlane_collapse:before { 
  content: '^';
}

.kanban_default_2014_swimlane_expand { 
  cursor:pointer; border: 1px solid #ccc; text-align:center;
}

.kanban_default_2014_swimlane_expand:before { 
  content: '>';
}

.kanban_default_2014_columnmove_handle { 
  opacity: 0.5; background-repeat: no-repeat; background-position: center center; background-color: #ccc; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAKCAYAAACT+/8OAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAClJREFUGFdj+P//P4O9vX2Bg4NDP4gNFgBytgPxebgAMsYuQGMz/jMAAFsTZDPYJlDHAAAAAElFTkSuQmCC); cursor: move;
}

.kanban_default_2014_columnmove_position { 
  background-color: #333;
}