
/* 

DayPilot Month Theme 
http://themes.daypilot.org/month/theme/x2ckiw

Theme Designer Version: 2015.12.01.0938
*/

.month_default_2014_main 
{
	border: 1px solid #aaaaaa;
}

.month_default_2014_main, .month_default_2014_main td 
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.month_default_2014_event { 
	
}

.month_default_2014_event_inner { 
	position: absolute;
  overflow: hidden;
	
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	
	margin: 1px;
	text-align: left;

	color: #666666;
	background-color: #ffffff;
	
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#fafafa));  
	background: -webkit-linear-gradient(top, #ffffff 0%, #fafafa);
	background: -moz-linear-gradient(top, #ffffff 0%, #fafafa);
	background: -ms-linear-gradient(top, #ffffff 0%, #fafafa);
	background: -o-linear-gradient(top, #ffffff 0%, #fafafa);
	background: linear-gradient(top, #ffffff 0%, #fafafa);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr="#ffffff", endColorStr="#fafafa");
	
	
	
	padding: 2px;
	
	
	border: 1px solid #cccccc;
	
	
	
	
	
}

.month_default_2014_header_inner
{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	border-right: 1px solid #aaaaaa;
	border-bottom: 1px solid #aaaaaa;
	text-align: center;
	padding: 2px;

	color: #666666;
	background: #eeeeee;
	
}

.month_default_2014_cell 
{
	background-color: #f9f9f9;
}

.month_default_2014_cell.month_default_2014_cell_business
{
	background-color: #ffffff;
}

.month_default_2014_cell_inner 
{
	border-right: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;	
}

.month_default_2014_cell_header 
{
	text-align: right;
	padding-right: 2px;
}

.month_default_2014_message 
{
	padding: 10px;
	opacity: 0.9;
	filter: alpha(opacity=90);
	
	color: #ffffff;
	background: #ffa216;
	
}

.month_default_2014_shadow_inner 
{
	background-color: #666666;
	opacity: 0.5;
	filter: alpha(opacity=50);
	height: 100%;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.month_default_2014_event_delete {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAI5JREFUKFNtkLERgCAMRbmzdK8s4gAUlhYOYEHJEJYOYOEwDmGBPxC4kOPfvePy84MGR0RJ2N1A8H3N6DATwSQ57m2ql8NBG+AEM7D+UW+wjdfUPgerYNgB5gOLRHqhcasg84C2QxPMtrUhSqQIhg7ypy9VM2EUZPI/4rQ7rGxqo9sadTegw+UdjeDLAKUfhbaQUVPIfJYAAAAASUVORK5CYII=) center center no-repeat; 
	opacity: 0.6; 
	-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=60)';
	cursor: pointer;
}

.month_default_2014_event_delete:hover {
	opacity: 1;
	-ms-filter: none;
}

.month_default_2014_event_timeleft { color: #ccc; font-size: 8pt }
.month_default_2014_event_timeright { color: #ccc; font-size: 8pt; text-align: right; }
