.scheduler_transparent_main 
{
    font-family: Tahoma, Arial, sans-serif;
    border: 1px solid #999;
}

.scheduler_transparent_event 
{
    opacity: 0.7;
    filter: alpha(opacity=70);

    font-size: 12px;
    color: #000;
}

.scheduler_transparent_event_inner  
{
    padding: 6px 4px 4px 4px;
    overflow: hidden;

    position: absolute;
    top: 0px;
    bottom: 1px;
    left: 0px;
    right: 0px;

    background: #47afff;
    border: 1px solid #1066a8;
}

.scheduler_transparent_event_hover .scheduler_transparent_event_inner 
{
}

.scheduler_transparent_event .scheduler_transparent_action:hover
{
    opacity: 1;
    filter: none;
}

.scheduler_transparent_selected .scheduler_transparent_event_inner
{
    background: #ddd;
}

.scheduler_transparent_timeheader 
{
    cursor: default;
    color: #666;
}

.scheduler_transparent_message
{
    opacity: 0.7;
    filter: alpha(opacity=70);

    padding: 10px; 
    color: #eeeeee;
    background: #333;
}

.scheduler_transparent_timeheadergroup,
.scheduler_transparent_timeheadercol
{
    color: #666;
    text-align: center;
    
    background: #eeeeee;
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#e9e9e9));
    background: -webkit-linear-gradient(top, #f3f3f3 0%, #e9e9e9);
    background: -moz-linear-gradient(top, #f3f3f3 0%, #e9e9e9);
    background: -ms-linear-gradient(top, #f3f3f3 0%, #e9e9e9);
    background: -o-linear-gradient(top, #f3f3f3 0%, #e9e9e9);
    background: linear-gradient(top, #f3f3f3 0%, #e9e9e9);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#f3f3f3", endColorStr="#e9e9e9");
}

.scheduler_transparent_rowheader,
.scheduler_transparent_corner
{
    color: #666666;
    
    background: #eeeeee;
    background: -webkit-gradient(linear, left top, right top, from(#f3f3f3), to(#e9e9e9));
    background: -webkit-linear-gradient(left, #f3f3f3 0%, #e9e9e9);
    background: -moz-linear-gradient(left, #f3f3f3 0%, #e9e9e9);
    background: -ms-linear-gradient(left, #f3f3f3 0%, #e9e9e9);
    background: -o-linear-gradient(left, #f3f3f3 0%, #e9e9e9);
    background: linear-gradient(left, #f3f3f3 0%, #e9e9e9);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#f3f3f3", endColorStr="#e9e9e9", GradientType=1);
}

.scheduler_transparent_rowheader_inner {
    padding: 3px;
}

.scheduler_transparent_timeheadergroup_inner
{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    text-align: center;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
}

.scheduler_transparent_timeheadercol_inner
{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    border-right: 1px solid #999;
}

.scheduler_transparent_cellcolumn 
{
    background: #fff;
}

.scheduler_transparent_cellparent {
    background-color: #f8f8f8;
}

.scheduler_transparent_tree_image_no_children {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAIAAABv85FHAAAAKXRFWHRDcmVhdGlvbiBUaW1lAHDhIDMwIEkgMjAwOSAwODo0NjozMSArMDEwMClDkt4AAAAHdElNRQfZAR4HLzEyzsCJAAAACXBIWXMAAA7CAAAOwgEVKEqAAAAABGdBTUEAALGPC/xhBQAAADBJREFUeNpjrK6s5uTl/P75OybJ0NLW8h8bAIozgeSxAaA4E1A7VjmgOL31MeLxHwCeXUT0WkFMKAAAAABJRU5ErkJggg==);
}
.scheduler_transparent_tree_image_expand {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAIAAABv85FHAAAAKXRFWHRDcmVhdGlvbiBUaW1lAHDhIDMwIEkgMjAwOSAwODo0NjozMSArMDEwMClDkt4AAAAHdElNRQfZAR4HLyUoFBT0AAAACXBIWXMAAA7CAAAOwgEVKEqAAAAABGdBTUEAALGPC/xhBQAAAFJJREFUeNpjrK6s5uTl/P75OybJ0NLW8h8bAIozgeRhgJGREc4GijMBtTNgA0BxFog+uA4IA2gmUJwFog/IgUhAGBB9KPYhA3T74Jog+hjx+A8A1KRQ+AN5vcwAAAAASUVORK5CYII=);
}
.scheduler_transparent_tree_image_collapse {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAIAAABv85FHAAAAKXRFWHRDcmVhdGlvbiBUaW1lAHDhIDMwIEkgMjAwOSAwODo0NjozMSArMDEwMClDkt4AAAAHdElNRQfZAR4HLxB+p9DXAAAACXBIWXMAAA7CAAAOwgEVKEqAAAAABGdBTUEAALGPC/xhBQAAAENJREFUeNpjrK6s5uTl/P75OybJ0NLW8h8bAIozgeSxAaA4E1A7VjmgOAtEHyMjI7IE0EygOAtEH5CDqY9c+xjx+A8ANndK9WaZlP4AAAAASUVORK5CYII=);
}

.scheduler_transparent_divider,
.scheduler_transparent_splitter
{
    background-color: #999;
}

.scheduler_transparent_divider_horizontal
{
    background-color: #999;
}

.scheduler_transparent_matrix_vertical_line 
{
    background-color: #eee;
}

.scheduler_transparent_matrix_vertical_break 
{
    background-color: #000;
}

.scheduler_transparent_matrix_horizontal_line 
{
    background-color: #eee;
}

.scheduler_transparent_resourcedivider 
{
    background-color: #999;
}

.scheduler_transparent_shadow_inner 
{
    background-color: #666666;
    opacity: 0.5;
    filter: alpha(opacity=50);
    height: 100%;
}

.scheduler_transparent_event_bar
{
    top: 3px;
    left: 4px;
    right: 4px;
    height: 4px;

    background-color: #8bceff;
}

.scheduler_transparent_event_bar_inner  
{
    position: absolute;
    height: 4px;
    background-color: #1066a8;
}

.scheduler_transparent_timeheader_float_inner {
}

.scheduler_transparent_event_float_inner {
    padding: 7px 4px 4px 8px;
}

.scheduler_transparent_event_float_inner:after {
    content:"";
    border-color: transparent #1066a8 transparent transparent;
    border-style:solid;
    border-width:5px;
    width:0;
    height:0;
    position:absolute;
    top:9px;
    left:-4px;
}

.scheduler_transparent_event_move_left {
    box-sizing: border-box;
    padding: 2px;
    border: 1px solid #ccc;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
    background: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee);
    background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee);
    background: -ms-linear-gradient(top, #ffffff 0%, #eeeeee);
    background: -o-linear-gradient(top, #ffffff 0%, #eeeeee);
    background: linear-gradient(top, #ffffff 0%, #eeeeee);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#ffffff", endColorStr="#eeeeee");
}

.scheduler_transparent_event_move_right {
    box-sizing: border-box;
    padding: 2px;
    border: 1px solid #ccc;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
    background: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee);
    background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee);
    background: -ms-linear-gradient(top, #ffffff 0%, #eeeeee);
    background: -o-linear-gradient(top, #ffffff 0%, #eeeeee);
    background: linear-gradient(top, #ffffff 0%, #eeeeee);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#ffffff", endColorStr="#eeeeee");
}

.scheduler_transparent_event_delete {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAI5JREFUKFNtkLERgCAMRbmzdK8s4gAUlhYOYEHJEJYOYOEwDmGBPxC4kOPfvePy84MGR0RJ2N1A8H3N6DATwSQ57m2ql8NBG+AEM7D+UW+wjdfUPgerYNgB5gOLRHqhcasg84C2QxPMtrUhSqQIhg7ypy9VM2EUZPI/4rQ7rGxqo9sadTegw+UdjeDLAKUfhbaQUVPIfJYAAAAASUVORK5CYII=) center center no-repeat;
    opacity: 0.6;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=60)';
    cursor: pointer;
}

.scheduler_transparent_event_delete:hover {
    opacity: 1;
    -ms-filter: none;
}

.scheduler_transparent_rowmove_handle { background-repeat: no-repeat; background-position: center center; background-color: #ccc; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAKCAYAAACT+/8OAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAClJREFUGFdj+P//P4O9vX2Bg4NDP4gNFgBytgPxebgAMsYuQGMz/jMAAFsTZDPYJlDHAAAAAElFTkSuQmCC); cursor: move; }
.scheduler_transparent_rowmove_source { background-color: black; opacity: 0.2; }
.scheduler_transparent_rowmove_position_before, .scheduler_transparent_rowmove_position_after { background-color: #999; height: 2px; }
.scheduler_transparent_rowmove_position_child { margin-left: 10px; background-color: #999; height: 2px; }
.scheduler_transparent_rowmove_position_child:before { content: '+'; color: #999; position: absolute; top: -8px; left: -10px; }
.scheduler_transparent_rowmove_position_forbidden { background-color: red; height: 2px; margin-left: 10px; }
.scheduler_transparent_rowmove_position_forbidden:before { content: 'x'; color: red; position: absolute; top: -8px; left: -10px; }

.scheduler_transparent_link_horizontal { border-bottom-style: solid; border-bottom-color: red }
.scheduler_transparent_link_vertical { border-right-style: solid; border-right-color: red }
.scheduler_transparent_link_arrow_right:before { content: ''; border-width: 6px; border-color: transparent transparent transparent red; border-style: solid; width: 0px; height:0px; position: absolute; }
.scheduler_transparent_link_arrow_left:before { content: ''; border-width: 6px; border-color: transparent red transparent transparent; border-style: solid; width: 0px; height:0px; position: absolute; }
.scheduler_transparent_link_arrow_down:before { content: ''; border-width: 6px; border-color: red transparent transparent transparent; border-style: solid; width: 0px; height:0px; position: absolute; }

.scheduler_transparent_shadow_overlap .scheduler_transparent_shadow_inner { background-color: red; }
.scheduler_transparent_overlay { background-color: gray; opacity: 0.5; filter: alpha(opacity=50); }

.scheduler_transparent_event_group { box-sizing: border-box; font-size:12px; color:#666; padding:2px 2px 2px 2px; overflow:hidden; border:1px solid #ccc; background-color: #fff; }

.scheduler_transparent_header_icon { box-sizing: border-box; border: 1px solid #aaa; background-color: #f5f5f5; color: #000; }
.scheduler_transparent_header_icon:hover { background-color: #ccc; }
.scheduler_transparent_header_icon_hide:before { content: '\00AB'; }
.scheduler_transparent_header_icon_show:before { content: '\00BB'; }

.scheduler_transparent_rowheader.scheduler_transparent_rowheader_selected { background-color: #aaa;background-image: -webkit-gradient(linear, 0 100%, 100% 0,color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent),	color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);-webkit-background-size: 20px 20px;-moz-background-size: 20px 20px;background-size: 20px 20px; }

.scheduler_transparent_row_new .scheduler_transparent_rowheader_inner { cursor: text; background-position: 0px 5px; background-repeat: no-repeat; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABUSURBVChTY0ACslAaK2CC0iCQDMSlECYmQFYIAl1AjFUxukIQwKoYm0IQwFCMSyEIaEJpMMClcD4Qp0CYEIBNIUzRPzAPCtAVYlWEDgyAGIdTGBgAbqEJYyjqa3oAAAAASUVORK5CYII=); }
.scheduler_transparent_row_new .scheduler_transparent_rowheader_inner:hover { background: white; }
.scheduler_transparent_rowheader textarea { padding: 3px; }
.scheduler_transparent_rowheader_scroll { cursor: default; }

.scheduler_transparent_shadow_forbidden .scheduler_transparent_shadow_inner { background-color: red; }

.scheduler_transparent_event_moving_source { opacity: 0.5; filter: alpha(opacity=50); }

.scheduler_traditional_linkpoint { background-color: white; border: 1px solid gray; border-radius: 5px; }
.scheduler_traditional_linkpoint.scheduler_traditional_linkpoint_hover { background-color: black; }
