
/* 

DayPilot Scheduler Theme
http://themes.daypilot.org/scheduler/theme/czdiou

Theme Designer Version: 2015.12.01.0938

*/

.scheduler_default_2014_main 
{
	border: 1px solid #aaaaaa;
}

.scheduler_default_2014_main, .scheduler_default_2014_main td 
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.scheduler_default_2014_event { 
	
}

.scheduler_default_2014_event { 
	color: #666666;
}

.scheduler_default_2014_event_inner { 
	position: absolute;
	
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	
	margin: 0px;
	overflow: hidden;

	background-color: #ffffff;
	
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#fafafa));  
	background: -webkit-linear-gradient(top, #ffffff 0%, #fafafa);
	background: -moz-linear-gradient(top, #ffffff 0%, #fafafa);
	background: -ms-linear-gradient(top, #ffffff 0%, #fafafa);
	background: -o-linear-gradient(top, #ffffff 0%, #fafafa);
	background: linear-gradient(top, #ffffff 0%, #fafafa);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#ffffff", endColorStr="#fafafa");
	
	
	
	padding: 2px;
	
	
	padding-top: 5px;
	
	
	border: 1px solid #cccccc;
	
	
	
	
	
}

.scheduler_default_2014_timeheadergroup,
.scheduler_default_2014_timeheadercol
{
	color: #666666;
	background: #eeeeee;
	
}

.scheduler_default_2014_rowheader,
.scheduler_default_2014_corner
{
	color: #666666;
	background: #eeeeee;
	
}

.scheduler_default_2014_rowheader_inner {
	padding: 2px;
}

.scheduler_default_2014_timeheadergroup,
.scheduler_default_2014_timeheadercol
{
	text-align: center;
}

.scheduler_default_2014_timeheadergroup_inner,
.scheduler_default_2014_timeheadercol_inner
{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	border-right: 1px solid #aaaaaa;
	padding: 2px;
}

.scheduler_default_2014_timeheadergroup_inner {
	border-bottom: 1px solid #aaaaaa;
}

.scheduler_default_2014_divider,
.scheduler_default_2014_splitter,
.scheduler_default_2014_divider_horizontal,
.scheduler_default_2014_resourcedivider 
{
	background-color: #aaaaaa;
}

.scheduler_default_2014_matrix_vertical_line,
.scheduler_default_2014_matrix_horizontal_line 
{
	background-color: #eeeeee;
}

.scheduler_default_2014_cell 
{
	background: #f9f9f9;
}

.scheduler_default_2014_cell.scheduler_default_2014_cell_business 
{
	background: #ffffff;
}

.scheduler_default_2014_message 
{
	padding: 10px;
	opacity: 0.9;
	filter: alpha(opacity=90);
	
	color: #ffffff;
	background: #ffa216;
	
}

.scheduler_default_2014_shadow_inner 
{
	background-color: #666666;
	opacity: 0.5;
	filter: alpha(opacity=50);
	height: 100%;
	
}


.scheduler_default_2014_event_bar
{
	top: 0px;
	left: 0px;
	right: 0px;
	height: 3px;
	background-color: #9dc8e8;
}

.scheduler_default_2014_event_bar_inner  
{
	position: absolute;
	height: 3px;
	background-color: #1066a8;
}


.scheduler_default_2014_matrix_vertical_break 
{
	background-color: #000;
}

.scheduler_default_2014_cellparent {
}

.scheduler_default_2014_tree_image_no_children {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAIAAABv85FHAAAAKXRFWHRDcmVhdGlvbiBUaW1lAHDhIDMwIEkgMjAwOSAwODo0NjozMSArMDEwMClDkt4AAAAHdElNRQfZAR4HLzEyzsCJAAAACXBIWXMAAA7CAAAOwgEVKEqAAAAABGdBTUEAALGPC/xhBQAAADBJREFUeNpjrK6s5uTl/P75OybJ0NLW8h8bAIozgeSxAaA4E1A7VjmgOL31MeLxHwCeXUT0WkFMKAAAAABJRU5ErkJggg==);
}
.scheduler_default_2014_tree_image_expand {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAIAAABv85FHAAAAKXRFWHRDcmVhdGlvbiBUaW1lAHDhIDMwIEkgMjAwOSAwODo0NjozMSArMDEwMClDkt4AAAAHdElNRQfZAR4HLyUoFBT0AAAACXBIWXMAAA7CAAAOwgEVKEqAAAAABGdBTUEAALGPC/xhBQAAAFJJREFUeNpjrK6s5uTl/P75OybJ0NLW8h8bAIozgeRhgJGREc4GijMBtTNgA0BxFog+uA4IA2gmUJwFog/IgUhAGBB9KPYhA3T74Jog+hjx+A8A1KRQ+AN5vcwAAAAASUVORK5CYII=);
}
.scheduler_default_2014_tree_image_collapse {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAIAAABv85FHAAAAKXRFWHRDcmVhdGlvbiBUaW1lAHDhIDMwIEkgMjAwOSAwODo0NjozMSArMDEwMClDkt4AAAAHdElNRQfZAR4HLxB+p9DXAAAACXBIWXMAAA7CAAAOwgEVKEqAAAAABGdBTUEAALGPC/xhBQAAAENJREFUeNpjrK6s5uTl/P75OybJ0NLW8h8bAIozgeSxAaA4E1A7VjmgOAtEHyMjI7IE0EygOAtEH5CDqY9c+xjx+A8ANndK9WaZlP4AAAAASUVORK5CYII=);
}

.scheduler_default_2014_columnheader 
{
}

.scheduler_default_2014_columnheader_inner {
    font-weight: bold;
}

.scheduler_default_2014_columnheader_cell {
    background: -webkit-gradient(linear, left top, right top, from(#eeeeee), to(#dddddd));
    background: -moz-linear-gradient(left, #eeeeee 0%, #dddddd);
    background: -ms-linear-gradient(left, #eeeeee 0%, #dddddd);
    background: -webkit-linear-gradient(left, #eeeeee 0%, #dddddd);
    background: linear-gradient(left, #eeeeee 0%, #dddddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr="#eeeeee", endColorStr="#dddddd", GradientType=1);
}

.scheduler_default_2014_columnheader_splitter {
    background-color: #666;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.scheduler_default_2014_columnheader_cell_inner {
    padding: 2px;   
}

.scheduler_default_2014_timeheader_float_inner {
	padding: 2px;
}

.scheduler_default_2014_event_float_inner {
	
    padding: 6px 2px 2px 7px;
	
	
}

.scheduler_default_2014_event_float_inner:after {
    content:"";
    border-color: transparent #666666 transparent transparent;
    border-style:solid;
    border-width:5px;
    width:0;
    height:0;
    position:absolute;
	top:9px;
	
    left:-4px;
}

.scheduler_default_2014_event_move_left {
	box-sizing: border-box; 
	padding:2px;
	border:1px solid #ccc;
	background:#fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
	background: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee);
	background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee);
	background: -ms-linear-gradient(top, #ffffff 0%, #eeeeee);
	background: -o-linear-gradient(top, #ffffff 0%, #eeeeee);
	background: linear-gradient(top, #ffffff 0%, #eeeeee);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#ffffff", endColorStr="#eeeeee");
}

.scheduler_default_2014_event_move_right {
	box-sizing: border-box; 
	padding:2px;
	border:1px solid #ccc;
	background:#fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
	background: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee);
	background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee);
	background: -ms-linear-gradient(top, #ffffff 0%, #eeeeee);
	background: -o-linear-gradient(top, #ffffff 0%, #eeeeee);
	background: linear-gradient(top, #ffffff 0%, #eeeeee);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#ffffff", endColorStr="#eeeeee");
}

.scheduler_default_2014_event_delete {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAI5JREFUKFNtkLERgCAMRbmzdK8s4gAUlhYOYEHJEJYOYOEwDmGBPxC4kOPfvePy84MGR0RJ2N1A8H3N6DATwSQ57m2ql8NBG+AEM7D+UW+wjdfUPgerYNgB5gOLRHqhcasg84C2QxPMtrUhSqQIhg7ypy9VM2EUZPI/4rQ7rGxqo9sadTegw+UdjeDLAKUfhbaQUVPIfJYAAAAASUVORK5CYII=) center center no-repeat; opacity: 0.6; -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=60)';
	cursor: pointer;
}

.scheduler_default_2014_event_delete:hover {
	opacity: 1;
	-ms-filter: none;
}

.scheduler_default_2014_rowmove_handle { background-repeat: no-repeat; background-position: center center; background-color: #ccc; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAKCAYAAACT+/8OAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAClJREFUGFdj+P//P4O9vX2Bg4NDP4gNFgBytgPxebgAMsYuQGMz/jMAAFsTZDPYJlDHAAAAAElFTkSuQmCC); cursor: move; }
.scheduler_default_2014_rowmove_source { background-color: black; opacity: 0.2; }
.scheduler_default_2014_rowmove_position_before, .scheduler_default_2014_rowmove_position_after { background-color: #999; height: 2px; }
.scheduler_default_2014_rowmove_position_child { margin-left: 10px; background-color: #999; height: 2px; }
.scheduler_default_2014_rowmove_position_child:before { content: '+'; color: #999; position: absolute; top: -8px; left: -10px; }
.scheduler_default_2014_rowmove_position_forbidden { background-color: red; height: 2px; margin-left: 10px; }
.scheduler_default_2014_rowmove_position_forbidden:before { content: 'x'; color: red; position: absolute; top: -8px; left: -10px; }

.scheduler_default_2014_link_horizontal { border-bottom-style: solid; border-bottom-color: red }
.scheduler_default_2014_link_vertical { border-right-style: solid; border-right-color: red }
.scheduler_default_2014_link_arrow_right:before { content: ''; border-width: 6px; border-color: transparent transparent transparent red; border-style: solid; width: 0px; height:0px; position: absolute; }
.scheduler_default_2014_link_arrow_left:before { content: ''; border-width: 6px; border-color: transparent red transparent transparent; border-style: solid; width: 0px; height:0px; position: absolute; }
.scheduler_default_2014_link_arrow_down:before { content: ''; border-width: 6px; border-color: red transparent transparent transparent; border-style: solid; width: 0px; height:0px; position: absolute; }
.scheduler_default_2014_link_arrow_up:before { content: ''; border-width: 6px; border-color: transparent transparent red transparent; border-style: solid; width: 0px; height:0px; position: absolute; }

.scheduler_default_2014_shadow_overlap .scheduler_default_2014_shadow_inner { background-color: red; }
.scheduler_default_2014_overlay { background-color: gray; opacity: 0.5; filter: alpha(opacity=50); }

.scheduler_default_2014_event_group { box-sizing: border-box; font-size:12px; color:#666; padding:2px 2px 2px 2px; overflow:hidden; border:1px solid #ccc; background-color: #fff; }

.scheduler_default_2014_header_icon { box-sizing: border-box; border: 1px solid #aaaaaa; background-color: #eeeeee; color: #666666; }
.scheduler_default_2014_header_icon:hover { background-color: #e9e9e9; }
.scheduler_default_2014_header_icon_hide:before { content: '\00AB'; }
.scheduler_default_2014_header_icon_show:before { content: '\00BB'; }

.scheduler_default_2014_row_new .scheduler_default_2014_rowheader_inner { cursor: text; background-position: 0px 5px; background-repeat: no-repeat; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABUSURBVChTY0ACslAaK2CC0iCQDMSlECYmQFYIAl1AjFUxukIQwKoYm0IQwFCMSyEIaEJpMMClcD4Qp0CYEIBNIUzRPzAPCtAVYlWEDgyAGIdTGBgAbqEJYyjqa3oAAAAASUVORK5CYII=); }
.scheduler_default_2014_row_new .scheduler_default_2014_rowheader_inner:hover { background: white; }
.scheduler_default_2014_rowheader textarea { padding: 3px; }
.scheduler_default_2014_rowheader_scroll { cursor: default; }

.scheduler_default_2014_shadow_forbidden .scheduler_default_2014_shadow_inner { background-color: red; }

.scheduler_default_2014_event_moving_source { opacity: 0.5; filter: alpha(opacity=50); }

.scheduler_default_2014_linkpoint { background-color: white; border: 1px solid gray; border-radius: 5px; }
.scheduler_default_2014_linkpoint.scheduler_default_2014_linkpoint_hover { background-color: black; }

