/* 

DayPilot Scheduler Theme 
http://themes.daypilot.org/scheduler/theme/m3km5n

*/

.scheduler_traditional_main 
{
	border: 1px solid #999999;
}

.scheduler_traditional_main, .scheduler_traditional_main td 
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.scheduler_traditional_event { 
	
}

.scheduler_traditional_event { 
	color: #333333;
}

.scheduler_traditional_event_inner { 
	position: absolute;
	
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	
	margin: 0px;
	overflow: hidden;

	background-color: #ffffff;
	
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f2f2f2));  
	background: -webkit-linear-gradient(top, #ffffff 0%, #f2f2f2);
	background: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2);
	background: -ms-linear-gradient(top, #ffffff 0%, #f2f2f2);
	background: -o-linear-gradient(top, #ffffff 0%, #f2f2f2);
	background: linear-gradient(top, #ffffff 0%, #f2f2f2);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#ffffff", endColorStr="#f2f2f2");
	
	
	
	padding: 2px;
	
	
	padding-top: 5px;
	
	
	border: 1px solid #999999;
	
	
	
	
	
}

.scheduler_traditional_timeheadergroup,
.scheduler_traditional_timeheadercol
{
	color: #333333;
	background: #ece9d8;
	
	background: -webkit-gradient(linear, left top, left bottom, from(#efecde), to(#e9e6d2));
	background: -webkit-linear-gradient(top, #efecde 0%, #e9e6d2);
	background: -moz-linear-gradient(top, #efecde 0%, #e9e6d2);
	background: -ms-linear-gradient(top, #efecde 0%, #e9e6d2);
	background: -o-linear-gradient(top, #efecde 0%, #e9e6d2);
	background: linear-gradient(top, #efecde 0%, #e9e6d2);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#efecde", endColorStr="#e9e6d2");
	
}

.scheduler_traditional_rowheader,
.scheduler_traditional_corner
{
	color: #333333;
	background: #ece9d8;
	
	background: -webkit-gradient(linear, left top, right top, from(#efecde), to(#e9e6d2));
	background: -webkit-linear-gradient(left, #efecde 0%, #e9e6d2);
	background: -moz-linear-gradient(left, #efecde 0%, #e9e6d2);
	background: -ms-linear-gradient(left, #efecde 0%, #e9e6d2);
	background: -o-linear-gradient(left, #efecde 0%, #e9e6d2);
	background: linear-gradient(left, #efecde 0%, #e9e6d2);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#efecde", endColorStr="#e9e6d2", GradientType=1);
	
}

.scheduler_traditional_rowheader_inner {
	padding: 2px;
}

.scheduler_traditional_timeheadergroup,
.scheduler_traditional_timeheadercol
{
	text-align: center;
}

.scheduler_traditional_timeheadergroup_inner,
.scheduler_traditional_timeheadercol_inner
{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	border-right: 1px solid #999999;
	padding: 2px;
}

.scheduler_traditional_timeheadergroup_inner {
	border-bottom: 1px solid #999999;
}

.scheduler_traditional_divider,
.scheduler_traditional_splitter,
.scheduler_traditional_divider_horizontal,
.scheduler_traditional_resourcedivider 
{
	background-color: #999999;
}

.scheduler_traditional_matrix_vertical_line,
.scheduler_traditional_matrix_horizontal_line 
{
	background-color: #ead098;
}

.scheduler_traditional_cell 
{
	background: #fff4bc;
}

.scheduler_traditional_cell.scheduler_traditional_cell_business 
{
	background: #ffffd5;
}

.scheduler_traditional_message 
{
	padding: 10px;
	opacity: 0.9;
	filter: alpha(opacity=90);
	
	color: #ffffff;
	background: #777777;
	
	background: -webkit-gradient(linear, left top, left bottom, from(#838383), to(#6b6b6b));
	background: -webkit-linear-gradient(top, #838383 0%, #6b6b6b);
	background: -moz-linear-gradient(top, #838383 0%, #6b6b6b);
	background: -ms-linear-gradient(top, #838383 0%, #6b6b6b);
	background: -o-linear-gradient(top, #838383 0%, #6b6b6b);
	background: linear-gradient(top, #838383 0%, #6b6b6b);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#838383", endColorStr="#6b6b6b");
	
}

.scheduler_traditional_shadow_inner 
{
	background-color: #666666;
	opacity: 0.5;
	filter: alpha(opacity=50);
	height: 100%;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}


.scheduler_traditional_event_bar
{
	top: 1px;
	left: 1px;
	right: 1px;
	height: 3px;
	background-color: #ffffff;
        
        border-bottom: 1px solid #999999;
}

.scheduler_traditional_event_bar_inner  
{
	position: absolute;
	height: 3px;
	background-color: #2d5de0;
}


.scheduler_traditional_matrix_vertical_break 
{
	background-color: #000;
}

.scheduler_traditional_cellparent {
}

.scheduler_traditional_tree_image_no_children {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAIAAABv85FHAAAAKXRFWHRDcmVhdGlvbiBUaW1lAHDhIDMwIEkgMjAwOSAwODo0NjozMSArMDEwMClDkt4AAAAHdElNRQfZAR4HLzEyzsCJAAAACXBIWXMAAA7CAAAOwgEVKEqAAAAABGdBTUEAALGPC/xhBQAAADBJREFUeNpjrK6s5uTl/P75OybJ0NLW8h8bAIozgeSxAaA4E1A7VjmgOL31MeLxHwCeXUT0WkFMKAAAAABJRU5ErkJggg==);
}
.scheduler_traditional_tree_image_expand {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAIAAABv85FHAAAAKXRFWHRDcmVhdGlvbiBUaW1lAHDhIDMwIEkgMjAwOSAwODo0NjozMSArMDEwMClDkt4AAAAHdElNRQfZAR4HLyUoFBT0AAAACXBIWXMAAA7CAAAOwgEVKEqAAAAABGdBTUEAALGPC/xhBQAAAFJJREFUeNpjrK6s5uTl/P75OybJ0NLW8h8bAIozgeRhgJGREc4GijMBtTNgA0BxFog+uA4IA2gmUJwFog/IgUhAGBB9KPYhA3T74Jog+hjx+A8A1KRQ+AN5vcwAAAAASUVORK5CYII=);
}
.scheduler_traditional_tree_image_collapse {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAIAAABv85FHAAAAKXRFWHRDcmVhdGlvbiBUaW1lAHDhIDMwIEkgMjAwOSAwODo0NjozMSArMDEwMClDkt4AAAAHdElNRQfZAR4HLxB+p9DXAAAACXBIWXMAAA7CAAAOwgEVKEqAAAAABGdBTUEAALGPC/xhBQAAAENJREFUeNpjrK6s5uTl/P75OybJ0NLW8h8bAIozgeSxAaA4E1A7VjmgOAtEHyMjI7IE0EygOAtEH5CDqY9c+xjx+A8ANndK9WaZlP4AAAAASUVORK5CYII=);
}

.scheduler_traditional_columnheader 
{
}

.scheduler_traditional_columnheader_inner {
    font-weight: bold;
}

.scheduler_traditional_columnheader_cell {
    background: -webkit-gradient(linear, left top, right top, from(#eeeeee), to(#dddddd));
    background: -moz-linear-gradient(left, #eeeeee 0%, #dddddd);
    background: -ms-linear-gradient(left, #eeeeee 0%, #dddddd);
    background: -webkit-linear-gradient(left, #eeeeee 0%, #dddddd);
    background: linear-gradient(left, #eeeeee 0%, #dddddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr="#eeeeee", endColorStr="#dddddd", GradientType=1);
}

.scheduler_traditional_columnheader_splitter {
    background-color: #666;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.scheduler_traditional_columnheader_cell_inner {
    padding: 2px;   
}

.scheduler_traditional_timeheader_float_inner {
	padding: 2px;
}

.scheduler_traditional_event_float_inner {
	
    padding: 6px 2px 2px 7px;
	
	
}

.scheduler_traditional_event_float_inner:after {
    content:"";
    border-color: transparent #333333 transparent transparent;
    border-style:solid;
    border-width:5px;
    width:0;
    height:0;
    position:absolute;
    top:8px;
    left:-4px;
}

.scheduler_traditional_event_move_left {
    box-sizing: border-box;
    padding: 2px;
    border: 1px solid #ccc;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
    background: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee);
    background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee);
    background: -ms-linear-gradient(top, #ffffff 0%, #eeeeee);
    background: -o-linear-gradient(top, #ffffff 0%, #eeeeee);
    background: linear-gradient(top, #ffffff 0%, #eeeeee);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#ffffff", endColorStr="#eeeeee");
}

.scheduler_traditional_event_move_right {
    box-sizing: border-box;
    padding: 2px;
    border: 1px solid #ccc;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
    background: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee);
    background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee);
    background: -ms-linear-gradient(top, #ffffff 0%, #eeeeee);
    background: -o-linear-gradient(top, #ffffff 0%, #eeeeee);
    background: linear-gradient(top, #ffffff 0%, #eeeeee);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#ffffff", endColorStr="#eeeeee");
}

.scheduler_traditional_event_delete {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAI5JREFUKFNtkLERgCAMRbmzdK8s4gAUlhYOYEHJEJYOYOEwDmGBPxC4kOPfvePy84MGR0RJ2N1A8H3N6DATwSQ57m2ql8NBG+AEM7D+UW+wjdfUPgerYNgB5gOLRHqhcasg84C2QxPMtrUhSqQIhg7ypy9VM2EUZPI/4rQ7rGxqo9sadTegw+UdjeDLAKUfhbaQUVPIfJYAAAAASUVORK5CYII=) center center no-repeat;
    opacity: 0.6;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=60)';
    cursor: pointer;
}

.scheduler_traditional_event_delete:hover {
    opacity: 1;
    -ms-filter: none;
}

.scheduler_traditional_rowmove_handle { background-repeat: no-repeat; background-position: center center; background-color: #ccc; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAKCAYAAACT+/8OAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAClJREFUGFdj+P//P4O9vX2Bg4NDP4gNFgBytgPxebgAMsYuQGMz/jMAAFsTZDPYJlDHAAAAAElFTkSuQmCC); cursor: move; }
.scheduler_traditional_rowmove_source { background-color: black; opacity: 0.2; }
.scheduler_traditional_rowmove_position_before, .scheduler_traditional_rowmove_position_after { background-color: #999; height: 2px; }
.scheduler_traditional_rowmove_position_child { margin-left: 10px; background-color: #999; height: 2px; }
.scheduler_traditional_rowmove_position_child:before { content: '+'; color: #999; position: absolute; top: -8px; left: -10px; }
.scheduler_traditional_rowmove_position_forbidden { background-color: red; height: 2px; margin-left: 10px; }
.scheduler_traditional_rowmove_position_forbidden:before { content: 'x'; color: red; position: absolute; top: -8px; left: -10px; }

.scheduler_traditional_link_horizontal { border-bottom-style: solid; border-bottom-color: red }
.scheduler_traditional_link_vertical { border-right-style: solid; border-right-color: red }
.scheduler_traditional_link_arrow_right:before { content: ''; border-width: 6px; border-color: transparent transparent transparent red; border-style: solid; width: 0px; height:0px; position: absolute; }
.scheduler_traditional_link_arrow_left:before { content: ''; border-width: 6px; border-color: transparent red transparent transparent; border-style: solid; width: 0px; height:0px; position: absolute; }
.scheduler_traditional_link_arrow_down:before { content: ''; border-width: 6px; border-color: red transparent transparent transparent; border-style: solid; width: 0px; height:0px; position: absolute; }

.scheduler_traditional_shadow_overlap .scheduler_traditional_shadow_inner { background-color: red; }
.scheduler_traditional_overlay { background-color: gray; opacity: 0.5; filter: alpha(opacity=50); }

.scheduler_traditional_event_group { box-sizing: border-box; font-size:12px; color:#666; padding:2px 2px 2px 2px; overflow:hidden; border:1px solid #ccc; background-color: #fff; }

.scheduler_traditional_header_icon {
    box-sizing: border-box;
    border: 1px solid #999;
    color: #333333;
    background: #ece9d8;

    background: -webkit-gradient(linear, left top, left bottom, from(#efecde), to(#e9e6d2));
    background: -webkit-linear-gradient(top, #efecde 0%, #e9e6d2);
    background: -moz-linear-gradient(top, #efecde 0%, #e9e6d2);
    background: -ms-linear-gradient(top, #efecde 0%, #e9e6d2);
    background: -o-linear-gradient(top, #efecde 0%, #e9e6d2);
    background: linear-gradient(top, #efecde 0%, #e9e6d2);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#efecde", endColorStr="#e9e6d2");
}
.scheduler_traditional_header_icon:hover { background-color: #ccc; }
.scheduler_traditional_header_icon_hide:before { content: '\00AB'; }
.scheduler_traditional_header_icon_show:before { content: '\00BB'; }

.scheduler_traditional_rowheader.scheduler_traditional_rowheader_selected { background-color: #aaa;background-image: -webkit-gradient(linear, 0 100%, 100% 0,color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent),	color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);-webkit-background-size: 20px 20px;-moz-background-size: 20px 20px;background-size: 20px 20px; }

.scheduler_traditional_row_new .scheduler_traditional_rowheader_inner { cursor: text; background-position: 0px 5px; background-repeat: no-repeat; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABUSURBVChTY0ACslAaK2CC0iCQDMSlECYmQFYIAl1AjFUxukIQwKoYm0IQwFCMSyEIaEJpMMClcD4Qp0CYEIBNIUzRPzAPCtAVYlWEDgyAGIdTGBgAbqEJYyjqa3oAAAAASUVORK5CYII=); }
.scheduler_traditional_row_new .scheduler_traditional_rowheader_inner:hover { background: white; }
.scheduler_traditional_rowheader textarea { padding: 3px; }
.scheduler_traditional_rowheader_scroll { cursor: default; }

.scheduler_traditional_shadow_forbidden .scheduler_traditional_shadow_inner { background-color: red; }

.scheduler_traditional_event_moving_source { opacity: 0.5; filter: alpha(opacity=50); }

.scheduler_traditional_linkpoint { background-color: white; border: 1px solid gray; border-radius: 5px; }
.scheduler_traditional_linkpoint.scheduler_traditional_linkpoint_hover { background-color: black; }
