.scheduler_green_main 
{
    font-family: Tahoma, Arial, sans-serif;
    border: 1px solid #999;
}

.scheduler_green_event {
    font-size:12px;
    color:#fff;
    text-shadow: 0px -1px 0px rgba(000,000,000,0.2), 0px 1px 0px rgba(255,255,255,1);
}

.scheduler_green_event_inner
{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 4px;

    color: #ffffff;
    padding: 4px;

    background: #a2c200;
    background: -webkit-gradient(linear, left top, left bottom, from(#a2c200), to(#8aaa00));
    background: -webkit-linear-gradient(top, #a2c200 0%, #8aaa00);
    background: -moz-linear-gradient(top, #a2c200 0%, #8aaa00);
    background: -ms-linear-gradient(top, #a2c200 0%, #8aaa00);
    background: -o-linear-gradient(top, #a2c200 0%, #8aaa00);
    background: linear-gradient(top, #a2c200 0%, #8aaa00);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#a2c200", endColorStr="#8aaa00");

    border-radius: 5px;
    border: 1px solid #7cb316;

    -webkit-box-shadow: 0px 2px 3px rgba(000,000,000,0.3), inset 0px 0px 2px rgba(255,255,255,0.8);
    box-shadow: 0px 2px 3px rgba(000,000,000,0.3), inset 0px 0px 2px rgba(255,255,255,0.8);
}

.scheduler_green_event_bar
{
    top: 3px;
    left: 4px;
    right: 4px;
    height: 2px;
    background-color: #C7D48D;
}

.scheduler_green_event_bar_inner  
{
    position: absolute;
    height: 2px;
    background-color: #6E8700;
}

.scheduler_green_event_hover .scheduler_green_event_inner 
{
    background: #a8dc18;
    background: -webkit-gradient(linear, left top, left bottom, from(#a8dc18), to(#8fc300));
    background: -webkit-linear-gradient(top, #a8dc18 0%, #8fc300);
    background: -moz-linear-gradient(top, #a8dc18 0%, #8fc300);
    background: -ms-linear-gradient(top, #a8dc18 0%, #8fc300);
    background: -o-linear-gradient(top, #a8dc18 0%, #8fc300);
    background: linear-gradient(top, #a8dc18 0%, #8fc300);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#a8dc18", endColorStr="#8fc300");
}

/* .scheduler_green_red is an example custom class that can be applied using BeforeEventRender handler */
.scheduler_green_red .scheduler_green_event_inner 
{
    border: 1px solid #c00004;
    background: #ab0000;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff2819), to(#ab0000));
    background: -webkit-linear-gradient(top, #ff2819 0%, #ab0000);
    background: -moz-linear-gradient(top, #ff2819 0%, #ab0000);
    background: -ms-linear-gradient(top, #ff2819 0%, #ab0000);
    background: -o-linear-gradient(top, #ff2819 0%, #ab0000);
    background: linear-gradient(top, #ff2819 0%, #ab0000);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#ff2819", endColorStr="#ab0000");
}


.scheduler_green_timeheader 
{
    cursor: default;
    color: #666;
}

.scheduler_green_message 
{
    padding: 10px;
    opacity: 0.9;
    filter: alpha(opacity=90);
    color: #ffffff;
    text-shadow: 0px -1px 1px rgba(000,000,000,0.2), 0px 1px 0px rgba(255,255,255,0.3);
    
    background: #000;
    background: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#666666));
    background: -webkit-linear-gradient(top, #999999 0%, #666666);
    background: -moz-linear-gradient(top, #999999 0%, #666666);
    background: -ms-linear-gradient(top, #999999 0%, #666666);
    background: -o-linear-gradient(top, #999999 0%, #666666);
    background: linear-gradient(top, #999999 0%, #666666);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#999999", endColorStr="#666666");
}

.scheduler_green_timeheadergroup,
.scheduler_green_timeheadercol {
    text-align: center;
    color: #ffffff;
    text-shadow: 0px -1px 1px rgba(000,000,000,0.2), 0px 1px 0px rgba(255,255,255,0.3);
}

.scheduler_green_timeheadergroup_inner
{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;

    border-right: 1px solid #999;

    background: #666;
    background: -webkit-gradient(linear, left top, left bottom, from(#777777), to(#666666));
    background: -webkit-linear-gradient(top, #777777 0%, #666666);
    background: -moz-linear-gradient(top, #777777 0%, #666666);
    background: -ms-linear-gradient(top, #777777 0%, #666666);
    background: -o-linear-gradient(top, #777777 0%, #666666);
    background: linear-gradient(top, #777777 0%, #666666);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#777777", endColorStr="#666666");
}

.scheduler_green_timeheadercol_inner
{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    border-right: 1px solid #999;
    border-top: 1px solid #999;

    background: #666;
    background: -webkit-gradient(linear, left top, left bottom, from(#777777), to(#666666));
    background: -webkit-linear-gradient(top, #777777 0%, #666666);
    background: -moz-linear-gradient(top, #777777 0%, #666666);
    background: -ms-linear-gradient(top, #777777 0%, #666666);
    background: -o-linear-gradient(top, #777777 0%, #666666);
    background: linear-gradient(top, #777777 0%, #666666);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#777777", endColorStr="#666666");
}

.scheduler_green_rowheader 
{
    color: #ffffff;
    text-shadow: 0px -1px 1px rgba(000,000,000,0.2), 0px 1px 0px rgba(255,255,255,0.3);

    background: #666;
    background: -webkit-gradient(linear, left top, right top, from(#777777), to(#666666));
    background: -webkit-linear-gradient(left, #777777 0%, #666666);
    background: -moz-linear-gradient(left, #777777 0%, #666666);
    background: -ms-linear-gradient(left, #777777 0%, #666666);
    background: -o-linear-gradient(left, #777777 0%, #666666);
    background: linear-gradient(left, #777777 0%, #666666);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#777777", endColorStr="#666666", GradientType=1);
}

.scheduler_green_corner
{
    color: #ffffff;
    background: #666;
    background: -webkit-gradient(linear, left top, right top, from(#777777), to(#666666));
    background: -webkit-linear-gradient(left, #777777 0%, #666666);
    background: -moz-linear-gradient(left, #777777 0%, #666666);
    background: -ms-linear-gradient(left, #777777 0%, #666666);
    background: -o-linear-gradient(left, #777777 0%, #666666);
    background: linear-gradient(left, #777777 0%, #666666);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#777777", endColorStr="#666666", GradientType=1);
}

.scheduler_green_resourceheader td
{
    border-bottom: 1px solid black;
    padding: 0px;
}

.scheduler_green_tree_image_no_children {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAIAAABv85FHAAAAKXRFWHRDcmVhdGlvbiBUaW1lAHDhIDMwIEkgMjAwOSAwODo0NjozMSArMDEwMClDkt4AAAAHdElNRQfZAR4HLzEyzsCJAAAACXBIWXMAAA7CAAAOwgEVKEqAAAAABGdBTUEAALGPC/xhBQAAADBJREFUeNpjrK6s5uTl/P75OybJ0NLW8h8bAIozgeSxAaA4E1A7VjmgOL31MeLxHwCeXUT0WkFMKAAAAABJRU5ErkJggg==);
}
.scheduler_green_tree_image_expand {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAIAAABv85FHAAAAKXRFWHRDcmVhdGlvbiBUaW1lAHDhIDMwIEkgMjAwOSAwODo0NjozMSArMDEwMClDkt4AAAAHdElNRQfZAR4HLyUoFBT0AAAACXBIWXMAAA7CAAAOwgEVKEqAAAAABGdBTUEAALGPC/xhBQAAAFJJREFUeNpjrK6s5uTl/P75OybJ0NLW8h8bAIozgeRhgJGREc4GijMBtTNgA0BxFog+uA4IA2gmUJwFog/IgUhAGBB9KPYhA3T74Jog+hjx+A8A1KRQ+AN5vcwAAAAASUVORK5CYII=);
}
.scheduler_green_tree_image_collapse {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAIAAABv85FHAAAAKXRFWHRDcmVhdGlvbiBUaW1lAHDhIDMwIEkgMjAwOSAwODo0NjozMSArMDEwMClDkt4AAAAHdElNRQfZAR4HLxB+p9DXAAAACXBIWXMAAA7CAAAOwgEVKEqAAAAABGdBTUEAALGPC/xhBQAAAENJREFUeNpjrK6s5uTl/P75OybJ0NLW8h8bAIozgeSxAaA4E1A7VjmgOAtEHyMjI7IE0EygOAtEH5CDqY9c+xjx+A8ANndK9WaZlP4AAAAASUVORK5CYII=);
}

.scheduler_green_divider,
.scheduler_green_splitter
{
    background-color: #ccc;
}

.scheduler_green_divider_horizontal
{
    background-color: #ccc;
}

.scheduler_green_matrix_vertical_line 
{
    background-color: #eee;
}

.scheduler_green_matrix_vertical_break 
{
    background-color: #000;
}
.scheduler_green_matrix_horizontal_line 
{
    background-color: #eee;
}

.scheduler_green_resourcedivider 
{
    background-color: #ccc;
}

.scheduler_green_shadow_inner 
{
    background-color: #666666;
    opacity: 0.5;
    filter: alpha(opacity=50);
    height: 100%;
    border-radius: 5px;
}

.scheduler_green_cellweekend 
{
    background-color: #f0f0f0;
}

.scheduler_green_timeheader_float_inner {
}

.scheduler_green_event_float_inner {
    padding: 4px 4px 4px 8px;
}

.scheduler_green_event_float_inner:after {
    content:"";
    border-color: transparent #fff transparent transparent;
    border-style:solid;
    border-width:5px;
    width:0;
    height:0;
    position:absolute;
    top:7px;
    left:-4px;
}

.scheduler_green_event_move_left {
    box-sizing: border-box;
    padding: 2px;
    border: 1px solid #ccc;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
    background: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee);
    background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee);
    background: -ms-linear-gradient(top, #ffffff 0%, #eeeeee);
    background: -o-linear-gradient(top, #ffffff 0%, #eeeeee);
    background: linear-gradient(top, #ffffff 0%, #eeeeee);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#ffffff", endColorStr="#eeeeee");
}

.scheduler_green_event_move_right {
    box-sizing: border-box;
    padding: 2px;
    border: 1px solid #ccc;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
    background: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee);
    background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee);
    background: -ms-linear-gradient(top, #ffffff 0%, #eeeeee);
    background: -o-linear-gradient(top, #ffffff 0%, #eeeeee);
    background: linear-gradient(top, #ffffff 0%, #eeeeee);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#ffffff", endColorStr="#eeeeee");
}

.scheduler_green_event_delete {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAI5JREFUKFNtkLERgCAMRbmzdK8s4gAUlhYOYEHJEJYOYOEwDmGBPxC4kOPfvePy84MGR0RJ2N1A8H3N6DATwSQ57m2ql8NBG+AEM7D+UW+wjdfUPgerYNgB5gOLRHqhcasg84C2QxPMtrUhSqQIhg7ypy9VM2EUZPI/4rQ7rGxqo9sadTegw+UdjeDLAKUfhbaQUVPIfJYAAAAASUVORK5CYII=) center center no-repeat;
    opacity: 0.6;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=60)';
    cursor: pointer;
}

.scheduler_green_event_delete:hover {
    opacity: 1;
    -ms-filter: none;
}

.scheduler_green_rowmove_handle { background-repeat: no-repeat; background-position: center center; background-color: #ccc; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAKCAYAAACT+/8OAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAClJREFUGFdj+P//P4O9vX2Bg4NDP4gNFgBytgPxebgAMsYuQGMz/jMAAFsTZDPYJlDHAAAAAElFTkSuQmCC); cursor: move; }
.scheduler_green_rowmove_source { background-color: black; opacity: 0.2; }
.scheduler_green_rowmove_position_before, .scheduler_green_rowmove_position_after { background-color: #999; height: 2px; }
.scheduler_green_rowmove_position_child { margin-left: 10px; background-color: #999; height: 2px; }
.scheduler_green_rowmove_position_child:before { content: '+'; color: #999; position: absolute; top: -8px; left: -10px; }
.scheduler_green_rowmove_position_forbidden { background-color: red; height: 2px; margin-left: 10px; }
.scheduler_green_rowmove_position_forbidden:before { content: 'x'; color: red; position: absolute; top: -8px; left: -10px; }

.scheduler_green_link_horizontal { border-bottom-style: solid; border-bottom-color: red }
.scheduler_green_link_vertical { border-right-style: solid; border-right-color: red }
.scheduler_green_link_arrow_right:before { content: ''; border-width: 6px; border-color: transparent transparent transparent red; border-style: solid; width: 0px; height:0px; position: absolute; }
.scheduler_green_link_arrow_left:before { content: ''; border-width: 6px; border-color: transparent red transparent transparent; border-style: solid; width: 0px; height:0px; position: absolute; }
.scheduler_green_link_arrow_down:before { content: ''; border-width: 6px; border-color: red transparent transparent transparent; border-style: solid; width: 0px; height:0px; position: absolute; }

.scheduler_green_shadow_overlap .scheduler_green_shadow_inner { background-color: red; }
.scheduler_green_overlay { background-color: gray; opacity: 0.5; filter: alpha(opacity=50); }

.scheduler_green_event_group { box-sizing: border-box; font-size:12px; color:#666; padding:2px 2px 2px 2px; overflow:hidden; border:1px solid #ccc; background-color: #fff; }

.scheduler_green_header_icon {
    box-sizing: border-box;
    border: 1px solid #999;
    color: #fff;
    background: #666;
    background: -webkit-gradient(linear, left top, left bottom, from(#777777), to(#666666));
    background: -webkit-linear-gradient(top, #777777 0%, #666666);
    background: -moz-linear-gradient(top, #777777 0%, #666666);
    background: -ms-linear-gradient(top, #777777 0%, #666666);
    background: -o-linear-gradient(top, #777777 0%, #666666);
    background: linear-gradient(top, #777777 0%, #666666);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#777777", endColorStr="#666666");
}
.scheduler_green_header_icon:hover { background-color: #ccc; }
.scheduler_green_header_icon_hide:before { content: '\00AB'; }
.scheduler_green_header_icon_show:before { content: '\00BB'; }

.scheduler_green_rowheader.scheduler_green_rowheader_selected { background-color: #aaa;background-image: -webkit-gradient(linear, 0 100%, 100% 0,color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent),	color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);-webkit-background-size: 20px 20px;-moz-background-size: 20px 20px;background-size: 20px 20px; }

.scheduler_green_row_new .scheduler_green_rowheader_inner { cursor: text; background-position: 0px 5px; background-repeat: no-repeat; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABUSURBVChTY0ACslAaK2CC0iCQDMSlECYmQFYIAl1AjFUxukIQwKoYm0IQwFCMSyEIaEJpMMClcD4Qp0CYEIBNIUzRPzAPCtAVYlWEDgyAGIdTGBgAbqEJYyjqa3oAAAAASUVORK5CYII=); }
.scheduler_green_row_new .scheduler_green_rowheader_inner:hover { background: white; }
.scheduler_green_rowheader textarea { padding: 3px; }
.scheduler_green_rowheader_scroll { cursor: default; }

.scheduler_green_shadow_forbidden .scheduler_green_shadow_inner { background-color: red; }

.scheduler_green_event_moving_source { opacity: 0.5; filter: alpha(opacity=50); }

.scheduler_green_linkpoint { background-color: white; border: 1px solid gray; border-radius: 5px; }
.scheduler_green_linkpoint.scheduler_green_linkpoint_hover { background-color: black; }
