<?xml version="1.0" encoding="UTF-8"?>
<!-- monitorInterval = monitor interval to check changes in this file -->
<Configuration status="WARN" monitorInterval="30">
 
    <!-- Logging Properties -->
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %p %m%n</Property>
        <Property name="APP_LOG_ROOT">/applications/automationserver/logs</Property>
    </Properties>
     
    <Appenders>
     
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
         
        <!-- File Appenders on need basis -->
        <RollingFile name="warnLog" fileName="${APP_LOG_ROOT}/automationserver-warn.log"
            filePattern="${APP_LOG_ROOT}/automationserver-debug-%d{yyyy-MM-dd}-%i.log">
            <LevelRangeFilter minLevel="WARN" maxLevel="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
         
        <RollingFile name="infoLog" fileName="${APP_LOG_ROOT}/automationserver-info.log"
            filePattern="${APP_LOG_ROOT}/automationserver-info-%d{yyyy-MM-dd}-%i.log" >
            <LevelRangeFilter minLevel="INFO" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
         
        <RollingFile name="errorLog" fileName="${APP_LOG_ROOT}/automationserver-error.log"
            filePattern="${APP_LOG_ROOT}/automationserver-error-%d{yyyy-MM-dd}-%i.log" >
            <LevelRangeFilter minLevel="ERROR" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
         
    </Appenders>
 
    <Loggers>
         
        <Logger name="fr.guiet.automationserver" additivity="false" level="debug">
            <AppenderRef ref="infoLog"  />
            <AppenderRef ref="warnLog" />
            <AppenderRef ref="errorLog" />
            <!--<AppenderRef ref="Console"  />-->
        </Logger>
        
        <!-- DEBUG, INFO, WARN, ERROR, FATAL -->
        <!-- level DEBUG = all messages of other level are displayed -->
        <!-- level INFO = DEBUG messages are not displayed etc.. -->         
        <!--<Root level="debug">
            <AppenderRef ref="Console"/>
        </Root>-->
 
    </Loggers>
 
</Configuration>
